.create-account-container {
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  left: 50vw;
  right: 0;
  top: 1vh;
  margin: auto;
  width: 20vw;
  height: 80vh;
}

form {
  width: 100vw;
}

h1 {
  text-align: center;
}

h2 {
 font-size: 0.86rem;
 text-align: center;
}

input {
  font-size: 0.8rem;
}

span {
  font-size: 1rem;
}