.create-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 40vw;
  right: 0;
  top: 10vh;
  margin: 0;
  width: 25vw;
  height: 80vh;
}

form.create-account {
  width: 100vw;
}

h1 {
  text-align: center;
}

h2 {
 font-size: 0.86rem;
 text-align: center;
}

input {
  font-size: 0.8rem;
}

span {
  font-size: 1rem;
}