.login-container form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vh;
  left: 25vw;
  right: 0;
  margin: 10vh 10vw;
  width: 30vw;
  height: 60vh;
}


form {
  display: flex;
  flex-direction: column;
  background-color: pink;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 50px;
}


form h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form label span {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px;
  font-size: 16px;
}

form button[type="submit"] {
  background-color: rgb(160, 104, 211);
  border: none;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  margin-top: 20px;
  cursor: pointer;
}

form .remember-me {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
}

form .remember-me label {
  display: flex;
  align-items: center;
}

form .remember-me input[type="checkbox"] {
  margin-right: 10px;
}



form .forgot-password {
  font-size: 14px;
  text-align: right;
  margin-bottom: 20px;
  text-decoration: none;
}

form .forgot-password:hover {
  text-decoration: underline;
}

form label:first-child,
form label:nth-child(2) {
  width: 100%;
}
